@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
.hero-section{
    height: 100vh;
    background-image: url("../../../images/hero-image.png");
    position: relative;
    background-position: center;
    background-size: cover;
}
.hero-text{
    position:absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    color: #EEEEEE;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    
}
.hero-text h1 , .hero-text h2{
    font-size: 4rem;
    letter-spacing: 8px;
    margin: 0;
}
.hero-button{
    background-color: #FFD369;
    font-size: 3.5rem;
    border-radius: 20px;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
    border: 0px;
    margin: 20px 0;
    letter-spacing: 5px;
    position: relative;
  }
  .hero-button:hover{
    transform: translateY(-5px);
  }